<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k_nakamura.horiojapan.webupdatechecker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="推し事効率化ツール"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="UpdateCheckList">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditActivity"
            android:label="Edit"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".GetHtmlActivity"
            android:label="CheckDifference"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="Setting"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".CheckUpdateIntentService"></service>
    </application>

</manifest>